<footer class="w-full bg-zinc-900 text-white py-6">
    <div class="max-w-screen-lg mx-auto px-4 flex flex-col items-center gap-4">
        <img src="/images/Pin.png" alt="Pinterest Logo" class="w-8 h-8 mb-2">
        <!-- <p class="text-center text-gray-400 text-sm"></p> -->
        <div class="flex gap-6 text-gray-400">
            <a href="/about" class="hover:text-white">About</a>
            <a href="/contact" class="hover:text-white">Contact</a>
            <a href="/privacy" class="hover:text-white">Privacy Policy</a>
        </div>
        <p class="text-center text-gray-500 text-xs mt-4">© 2024 Pinterest Clone. All rights reserved By Digvijay
            Rajebhosale</p>
    </div>
</footer>
</body>

</html>